/*------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #323232;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}



/*------------------------------------*/
/*SECTION 1: HERO*/
/*------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.row-full {
    padding-bottom: 56px;
    margin-bottom: 56px;
}

header {
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(54, 70, 226, 1)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 140%;
}

h1 {
    font-size: 700%;
    word-spacing: -8px;
}


h2, h3 {
    word-spacing: 2px;
    font-weight: 400;
}

p {
    line-height: 140%;
}

.btn:link,
.btn:visited {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 12px 10px;
    font-size: 40px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;   
}

/*
.btn-full:link,
.btn-full:visited {
}
*/

.btn:hover,
.btn:active {
    background-color: #ffffff1f;
}

.btn-bottom {
    overflow: hidden;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

/*------------------------------------*/
/*TOP NAVIGATION*/
/*------------------------------------*/
.logo {
    height: 24px;
    width: auto;
    float: left;
    margin-top: 16px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 24px;
    font-weight: 700;
    font-size: 80%;
}

.main-nav li {
    display: inline-block;
    margin-left: 56px;
}

.main-nav li a:visited,
.main-nav li a:link {
    padding: 4px;
    color: #454545;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
    color: #3646E2;
    border-bottom: 2px solid #3646E2;

}
/*------------------------------------*/
/*------------------------------------*/

section {
    padding: 120px 0 120px ;
}

.span-2-of-3 {
	padding-right: 48px; 
}

/*------------------------------------*/
/*WORKS SECTION*/
/*------------------------------------*/

.my-works {
    padding: 0 0 56px;
}

.works-showcase {
    list-style: none;
    width: 100%;
    padding: 0 0 56px;
}

.works-showcase li {
    display: block;
    float: left;
    width: 50%;
}

.works-photo {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.works-photo img {
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.works-photo:hover img {
    opacity: 0.4;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


.img-description {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40px;
    font-size: 120%;
    right: 0;
    transition: opacity 0.5s;
    color:rgba(255,255,255,0);
    
  }
  
  .works-photo:hover .img-description {
    color:rgba(255,255,255,1);
  }



/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.section-form {
    top: 56px !important;
    padding-top: 56px;
}

/*
.contact-form {
}
*/

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}




/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    text-align: center;
    background-color: #3646E2;
    padding: 56px 0;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    padding: 0 0 24px;
}

.footer-nav li {
    display: inline-block;
    margin-right: 24px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #fff;
    text-decoration: none;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}


footer p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0;
}